.page {
    background-color: #80d4ff
}

.content {
    font-size: 28px;
    font-family: Oriya;
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}

.sub {
    text-align: left;
    font-family: Georgia;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 14px;
    letter-spacing: .60px;
    margin: auto;
    max-width: 500px;
}


#container {
    background-color: #f2f2f2;
    width: 1000px;
    vertical-align: center;
    margin: 0px auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

#header {
    background-color: black;
    height: 150px;
    margin: 0px auto;
    padding: 0px;
    font-size: 42px;
    line-height: 125px;
    vertical-align: middle;
    text-align: center;
    color: white;
}

#code {
    font-size: 20px;
    font-family: Hebrew;
    vertical-align: center;
    background-color: white;
    margin: auto;
    margin-top: 15px;
    margin-bottom: 15px;
    max-width: 450px;
    padding: 20px;
    border: 2px solid black;
}

p {
    text-align: left;
    font-family: Georgia;
    padding-left: 200px;
    padding-right: 200px;
    font-size: 20px;
    letter-spacing: .60px;
}

li input {
    display: none;
}

li.edit span {
    display: none;
}

li.edit input {
    display: initial;
}


